---
name: "Tag & Release management"
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
jobs:
  release:
    name: Create Github Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Generate Changelog
        run: |
          sudo apt update && sudo apt install zsh
          export TAG_CURRENT=$(git describe --abbrev=0 --tags)
          export TAG_PREVIOUS=$(git describe --abbrev=0 --tags `git rev-list --tags --skip=1  --max-count=1`)
          echo "Previous tag is: ${TAG_PREVIOUS}"
          echo "Current tag is: ${TAG_CURRENT}"
          zsh .github/changelog.sh ${TAG_CURRENT} ${TAG_PREVIOUS} md > CHANGELOG.md
          cat CHANGELOG.md

      - name: Release on Github
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          body_path: CHANGELOG.md

  pypi:
    name: Publish version to Pypi servers
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel

      - name: Build package
        run: |
          python setup.py sdist bdist_wheel

      - name: Publish package to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
